body {
    background-color: #B8A8F0;
}
.container {
    display: flex;
    width: 50%;
    min-height: 75vh;
    margin: auto;
    position: relative;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 24px;
    background-color: white;


}

/* Timer */
h1 {
    font-family: 'Edu SA Beginner', cursive;
    color: white;
    font-size: 3rem;
}
#timer {
    margin: 0;
}
.timer-box {
    position: absolute;
    text-align: center;
    background: #785be6;
    background: linear-gradient(321deg, rgba(120,91,230,1) 0%, rgba(164,126,236,1) 74%); 
    width: 75%;
    bottom: 20%;
    padding: 3% 2%;
    border-radius: 24px;
}